
html, body {
  overflow-x: hidden;
}

.banner {
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.banner img {
  width: 100%;
  display: block;
}

.series {
  position: absolute;
  bottom: 88%;
  left: 62%;
}
.caption {
  position: absolute;
  bottom: 54%;
  left: 57%;
}

.series span {
  color: red;
  font-size: 25px;
  font-weight: 500;
}

.btndiv {
  margin: 5px;
  display: flex;
  gap: 20px;
}

.btndiv a{text-decoration: none;}

.btn {
  color: black;
  width: 150px;
  background-color: white;
  padding: 8px 20px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.infobtn {
  background-color: grey;
  color: white;
}





@media (min-width: 641px) and (max-width: 1024px) {

  .btn{
  width: 100px;
  padding: 8px 10px;
  display: flex;
  gap: 10px;
  }

.btndiv{
      
        transform: translateY(80%);

}

.caption p{
     display: none;
}


.btn .material-symbols-outlined{
   font-size: 10px;
}

.series {
  position: absolute;
  bottom: 58%;
  left: 55%;
  font-size: 10px;
}
.series span {
   font-size: 18px;
}
}






@media (max-width: 640px) {

  .btn{
     width: 70px;
      padding: 5px 10px;
      font-size: 8px;
      display: flex;
      justify-content: center;
  }
.btndiv{
      
        transform: translateY(80%);
}

.caption p{
     display: none;
}


.btn .material-symbols-outlined{
   font-size: 10px;
}

.series {
  position: absolute;
  bottom: 58%;
  left: 55%;
  font-size: 10px;
}
.series span {
   font-size: 18px;
}
}